.transaction-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.transaction-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transaction-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.transaction-row:last-child {
  border-bottom: none;
}

.transaction-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a1a1a1;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-row-icon-title {
  display: flex;
}

.transaction-title-date {
  display: flex;
  flex-direction: column;
}

.transaction-category-icon {
  font-size: 24px;
  color: #555;
}

.transaction-icon i {
  color: #333333;
}

.transaction-title {
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.transaction-date {
  color: #666;
  margin-right: 10px;
}

.transaction-amount {
  color: #e63e3e;
  font-weight: bold;
  font-size: 20px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pagination-controls button {
  color: #009879;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #009879;
  background: none;
  cursor: pointer;
}

.pagination-controls button:hover,
.pagination-controls button.active {
  background-color: #009879;
  color: white;
}

.pagination-controls button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-controls button.active {
  background-color: #009879;
  color: white;
}

.action-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: 10px;
}

.edit-button {
  color: #4caf50;
}

.delete-button {
  color: #f44336;
}

.action-button:hover {
  opacity: 0.7;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.glass-effect-button,
input,
select,
select > option {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin: 10px;
  padding: 15px;
  font-weight: bold;
}

.modal-title {
  margin: 0 auto;
  color: rgb(20, 20, 20);
}

.income-form {
  display: flex;
  padding: 10px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.category-select > option {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}
