.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.pie-chart-container {
  margin: 20px;
}

.pie-chart-legend {
  font-weight: bold;
  font-family: cursive;
}
